body
{
background-color: aquamarine;


}

p

{
color:rgb(137, 91, 183);
font-weight: bold;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
}


img
{
width:400px;
content: url("allen.png");


}